<div class="container main ">
      <div class="row mt-5 mx-auto">
        <div class="col-md-3">
         <img class="profile" src="../../../../assets/images/dog.jpeg" alt="">
         <div>
         <button (click)="onClick()" class="btn btn-primary mt-3 ml-5">Edit profile</button>

         </div>
        </div>
        <div class="col-md-6">
         
          <div class="row">
              <h2>{{username}}</h2>
              <button class="btn btn-primary ml-2">Follow</button>
              <button class="btn btn-primary ml-2"></button>
            </div>
          
            <div class="row mt-3">
              <h3>Posts</h3>
              <h3 class="ml-2">Followers</h3>
              <h3 class="ml-2">Follwing</h3>
             </div>
          
        </div>
      </div>
      <hr style="width: 72%;margin-left: -1%;">
</div>