<body>
  <div class="container main ">
    <div class="row mt-5 mx-auto">
      <div class="col-md-3">
       <img class="profile" src="../../../../assets/images/dog.jpeg" alt="">
       <div>

       </div>
      </div>
      <div class="col-md-6">
       
        <div class="row">
            <h2 class="mt-4">{{username}}</h2>
            <button (click)="onClick()" class="btn mt-3 ml-3 font-weight-bold">Edit profile</button>
            <h1 class="mt-3 ml-3">
            <i class="fa fa-cog" aria-hidden="true"></i>
            </h1>
        </div>
        
          <div class="row mt-3">
            <h3>Posts</h3>
            <h3 class="ml-2">Followers</h3>
            <h3 class="ml-2">Follwing</h3>
           </div>

        <div class="row mt-3">
          <h1> {{name}} </h1>
        </div>
      </div>
    </div>
    <hr style="width: 72%;margin-left: -1%;">
</div>
<div class="container">
  <div class="row mx-auto">
    <div class="col post">
      
    </div>
    <div class="col post">
      
    </div>
    <div class="col post">
      
    </div>
  </div> 
</div>
</body>