@import url('//fonts.cdnfonts.com/css/billabong');


// /* start header */

.navigation {
  background-color: #ffffff;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 50px;
  // box-sizing: border-box;
  z-index: 2;
  /* animation magic */
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;

}

.navigation .logo a {
  position: relative;
  color: #000000;
  font-size: 30px;
  font-family: "billabong", sans-serif;
  text-decoration: none;
}
.sub{
  margin-top: 60px;
}
// .main{
  
// }


// .abc{
//   margin-left: 20%;
// }
// .srch{
//   margin-left: 30%;

// }
.title{
  width: 320px; 
}
.tl{
  // font-weight: bold;
  font-weight: 600;
}
// .logo{
//   margin-left: 10%;
  
// }
.srch{
  background-color: #efefef;
  padding: 5px 16px;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  font-size: 16px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 250px;
  z-index: 1;
}